{block header}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">

        <title>{ifset title}{include title|stripHtml} | {/ifset}KAS project</title>

        <link rel="stylesheet" href="{$basePath}/css/bootstrap.min.css">
        <link rel="stylesheet" href="{$basePath}/css/main.css" crossorigin="anonymous">
    </head>
{/block}
