{block scripts}
    <script src="{$basePath}/vendor/netteForms.min.js"></script>
    <script src="{$basePath}/vendor/jquery.min.js"></script>
    <script src="{$basePath}/vendor/popper.min.js"></script>
    <script src="{$basePath}/vendor/bootstrap.min.js"></script>
    <script src="{$basePath}/js/nette.ajax.js"></script>

    {import _scripts_functions.latte}
    {include scriptFunctions}
{/block}