html, body, body>.container {
    height: 100%;
}

.title {
    text-align: center;
    margin-top: 15px;
}

.no-show {
    display: none;
}

.title > div {
    text-align: left;
    margin-top: 35px;
    margin-bottom: 20px;
}

.icon {
    margin-left: 10px;
    width: 25px;
    height: 25px;
}